svg {
    margin: 0 auto;
    display: block;
  }

  .tick{
      stroke: #ccc;
      stroke-dasharray: 5, 10; 
  }

  .tooltip{
      opacity: 0;
      position: absolute;
      pointer-events: none; /* this prevents the motion of the tooltip to fire a mouseout event on the circle */
      background-color: lightblue;
      border: 8px solid blue;
      padding: 15px;
    }

.tooltip p {
    margin: 0;
}